body {
    font-size: $base-font-size;
    line-height: 1.625;
}

a {
    transition: all 0.4s;
    text-decoration: none;
}

.section-title {
    margin-bottom: 20px;

    h1 {
        text-transform: capitalize;
        color: $base-font-color;
    }
}