.site {
    overflow: hidden;
}

.py-128 {
    padding-top: 128px;
    padding-bottom: 128px;

    @media (max-width: 1600px) {
        padding-top: 128px;
        padding-bottom: 128px;
    }

    @media (max-width: 1500px) {
        padding-top: 128px;
        padding-bottom: 128px;
    }

    @media (max-width: 1400px) {
        padding-top: 128px;
        padding-bottom: 128px;
    }

    @media (max-width: 1300px) {
        padding-top: 128px;
        padding-bottom: 128px;
    }

    @media (max-width: 1100px) {
        padding-top: 128px;
        padding-bottom: 128px;
    }

    @media (max-width: 1000px) {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    @media (max-width: 991px) {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    @media (max-width: 767.98px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media (max-width: 575.98px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media (max-width: 414px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.py-128-0 {
    padding-top: 128px;
    padding-bottom: 0;

    @media (max-width: 1600px) {
        padding-top: 128px;
        padding-bottom: 0;
    }

    @media (max-width: 1500px) {
        padding-top: 128px;
        padding-bottom: 0;
    }

    @media (max-width: 1400px) {
        padding-top: 128px;
        padding-bottom: 0;
    }

    @media (max-width: 1300px) {
        padding-top: 128px;
        padding-bottom: 0;
    }

    @media (max-width: 1100px) {
        padding-top: 128px;
        padding-bottom: 0;
    }

    @media (max-width: 1000px) {
        padding-top: 80px;
        padding-bottom: 0;
    }

    @media (max-width: 991px) {
        padding-top: 60px;
        padding-bottom: 0;
    }

    @media (max-width: 767.98px) {
        padding-top: 60px;
        padding-bottom: 0;
    }

    @media (max-width: 575.98px) {
        padding-top: 60px;
        padding-bottom: 0;
    }

    @media (max-width: 414px) {
        padding-top: 60px;
        padding-bottom: 0;
    }
}

.py-160 {
    padding-top: 160px;
    padding-bottom: 160px;

    @media (max-width: 1600px) {
        padding-top: 160px;
        padding-bottom: 160px;
    }

    @media (max-width: 1500px) {
        padding-top: 160px;
        padding-bottom: 160px;
    }

    @media (max-width: 1400px) {
        padding-top: 160px;
        padding-bottom: 160px;
    }

    @media (max-width: 1300px) {
        padding-top: 160px;
        padding-bottom: 160px;
    }

    @media (max-width: 1100px) {
        padding-top: 160px;
        padding-bottom: 160px;
    }

    @media (max-width: 1000px) {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    @media (max-width: 991px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media (max-width: 767.98px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media (max-width: 575.98px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media (max-width: 414px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.py-96-45 {
    padding-top: 96px;
    padding-bottom: 45px;

    @media (max-width: 1600px) {
        padding-top: 96px;
        padding-bottom: 45px;
    }

    @media (max-width: 1500px) {
        padding-top: 96px;
        padding-bottom: 45px;
    }

    @media (max-width: 1400px) {
        padding-top: 96px;
        padding-bottom: 45px;
    }

    @media (max-width: 1300px) {
        padding-top: 96px;
        padding-bottom: 45px;
    }

    @media (max-width: 1100px) {
        padding-top: 96px;
        padding-bottom: 45px;
    }

    @media (max-width: 1000px) {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    @media (max-width: 991px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media (max-width: 767.98px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media (max-width: 575.98px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media (max-width: 414px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.px-200 {
    padding-left: 200px;
    padding-right: 200px;

    @media (max-width: 1600px) {
        padding-left: 100px;
        padding-right: 100px;
    }

    @media (max-width: 1500px) {
        padding-left: 60px;
        padding-right: 60px;
    }

    @media (max-width: 1400px) {
        padding-left: 60px;
        padding-right: 60px;
    }

    @media (max-width: 1300px) {
        padding-left: 60px;
        padding-right: 60px;
    }

    @media (max-width: 1100px) {
        padding-left: 50px;
        padding-right: 50px;
    }

    @media (max-width: 1000px) {
        padding-left: 50px;
        padding-right: 50px;
    }

    @media (max-width: 991px) {
        padding-left: 50px;
        padding-right: 50px;
    }

    @media (max-width: 768px) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @media (max-width: 576px) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @media (max-width: 414px) {
        padding-left: 5px;
        padding-right: 5px;
    }
}