$body-font-family: 'DM Sans', sans-serif;

$base-font-size: 16px;
$base-font-color: #1A191E;
$base-font-weight: 500;

$primary-color: #5BB5A2;
$secondary-color: #E8F2EE;
$border-color: #E8E8E8;
$Pale-Pink: #F1DFDF;
$azureish-white: #DFE1F1;
$azureish-white-o: #DFEBF1;
$azureish-white-b: #f8f8f8;